<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhu.onlinecourse.mapper.AdmMapper">
    <!--增加管理员-->
    <insert id="admInsert">
        insert into adm(adm_id, adm_name, adm_password, adm_authoritylevels)
        values (null, #{admName}, #{admPassword}, #{admAuthoritylevels})
    </insert>
    <!--更新管理员信息-->
    <update id="admUpdate">
        update adm
        set adm_name=#{admName},
            adm_password=#{admPassword},
            adm_authoritylevels=#{admAuthoritylevels}
        where adm_id = #{admId}
    </update>
    <!--删除管理员-->
    <delete id="admDelete" parameterType="Adm">
        delete
        from adm
        where adm_id = #{admId}
    </delete>
    <!--查询管理员-->
    <select id="getAdmList" resultType="Adm">
        select * from `adm`
        <where>
            <choose>
                <when test="columnName=='admId'">
                    And adm_id like '%${value}%'
                </when>
                <when test="columnName=='admName'">
                    And adm_name like '%${value}%'
                </when>
                <when test="columnName=='admAuthoritylevels'">
                    And adm_authoritylevels like '%${value}%'
                </when>
                <otherwise>
                    '1'='1'
                </otherwise>
            </choose>
        </where>
    </select>
    <!--获得管理员信息-->
    <select id="getAdmById" resultType="com.xhu.onlinecourse.entity.Adm">
        select *
        from adm
        where adm_id = #{admId}
    </select>
    <select id="teacherSta" resultType="com.xhu.onlinecourse.entity.vo.admSta.TeacherStaVo">
        SELECT t.teacher_id,teacher_name,course_id,course_name
        FROM teacher t,course c
        WHERE t.teacher_id=c.teacher_id
        <choose>
            <when test="columnName=='teacherId'">
                And t.teacher_id like '%${value}%'
            </when>
            <when test="columnName=='teacherName'">
                And teacher_name like '%${value}%'
            </when>
            <when test="columnName=='courseId'">
                And course_id like '%${value}%'
            </when>
            <when test="columnName=='courseName'">
                And course_name like '%${value}%'
            </when>
            <otherwise></otherwise>
        </choose>
    </select>
    <select id="studentSta" resultType="com.xhu.onlinecourse.entity.vo.admSta.StudentStaVo">
        select s.student_id,s.student_name,c.course_id,c.course_name
        from student s,course c,course_stu cs
        where c.course_id=cs.course_id
        and cs.student_id=s.student_id
        <choose>
            <when test="columnName=='studentId'">
                And s.student_id like '%${value}%'
            </when>
            <when test="columnName=='studentName'">
                And s.student_name like '%${value}%'
            </when>
            <when test="columnName=='courseId'">
                And c.course_id like '%${value}%'
            </when>
            <when test="columnName=='courseName'">
                And c.course_name like '%${value}%'
            </when>
            <otherwise></otherwise>
        </choose>
    </select>
    <select id="teacherStaById" resultType="java.lang.String">
        select course_name
        from course
        where teacher_id = #{teacherId}
    </select>
    <select id="studentStaById" resultType="java.lang.String">
        select c.course_name
        from course c,
             course_stu cs
        where c.course_id = cs.course_id
          and student_id = #{studentId}
    </select>
</mapper>