<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhu.onlinecourse.mapper.CourseMapper">
    <insert id="courseInsert">
        insert into course
        values(null,#{teacherId},#{courseName},#{courseInfo},#{courseImage})
    </insert>

    <select id="getCourseList" resultType="com.xhu.onlinecourse.entity.vo.CourseTeacherVo">
        select course_id,course_name,teacher_name
        from course left join teacher on course.teacher_id = teacher.teacher_id
    </select>
    <select id="getCourseById" resultType="com.xhu.onlinecourse.entity.vo.CourseTeacherVo">
        select course_name,course_info,teacher_name
        from course left join teacher t on course.teacher_id = t.teacher_id
        where course_id=#{courseId}
    </select>

    <select id="getStudentCourseList" resultType="com.xhu.onlinecourse.entity.vo.CourseTeacherVo">
        SELECT course.course_id,course_name,teacher_name
        FROM course,course_stu,teacher
        WHERE course.teacher_id=teacher.teacher_id AND student_id=#{studentId}
          AND course_stu.`course_id`=course.`course_id`
    </select>

</mapper>