<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhu.onlinecourse.mapper.CourseMapper">

    <!--为课程增加课程资源-->
    <insert id="addNewCourseRes" parameterType="courseRes">
        insert into course_res(course_res_id, res_video_name, res_file_name, course_id, res_blues)
        values (null, #{resVideoName}, #{resFileName}, #{courseId}, #{resBlues})
    </insert>
    <!--学生选课-->
    <insert id="studentChooseCourse">
        insert into course_stu(course_id, student_id)
        values (#{courseId}, #{studentId})
    </insert>
    <!--获取所有课程-->
    <select id="getCourseList" resultType="com.xhu.onlinecourse.entity.vo.CourseTeacherVo">
        select course_id, course.teacher_id, course_name, teacher_name,course_image
        from course
                 left join teacher on course.teacher_id = teacher.teacher_id
    </select>
    <!--选取选课榜前三，作为前端的走马灯-->
    <select id="getTopThreeCourseList" resultType="com.xhu.onlinecourse.entity.vo.CourseTeacherVo">
        SELECT c.course_id, c.teacher_id, c.course_name, t.teacher_name
        FROM course c
                 LEFT JOIN teacher t ON c.teacher_id = t.teacher_id
                 INNER JOIN (
            SELECT cs.course_id
            FROM course_stu cs
            GROUP BY cs.course_id
            ORDER BY COUNT(*) DESC
            LIMIT 3
        ) tmp ON c.course_id = tmp.course_id;
    </select>
    <!--通过课程id获取教师及课程相关信息-->
    <select id="getCourseById" resultType="com.xhu.onlinecourse.entity.vo.CourseTeacherVo">
        select course_name, t.teacher_id, course_info, teacher_name,course_image,course.course_id
        from course
                 left join teacher t on course.teacher_id = t.teacher_id
        where course_id = #{courseId}
    </select>
    <!--获取指定学生Id的课程列表-->
    <select id="getStudentCourseList" resultType="com.xhu.onlinecourse.entity.vo.CourseTeacherVo">
        SELECT course.course_id, teacher.teacher_id, course_name, teacher_name
        FROM course,
             course_stu,
             teacher
        WHERE course.teacher_id = teacher.teacher_id
          AND student_id = #{studentId}
          AND course_stu.`course_id` = course.`course_id`
    </select>
    <!--根据课程id获取课程资源-->
    <select id="getCourseResList" resultType="com.xhu.onlinecourse.entity.CourseRes">
        select *
        from course_res
        where course_id = #{courseId}
    </select>
    <!--获取课程总数-->
    <select id="countCourses" resultType="java.lang.Integer">
        select count(*)
        from course
    </select>
    <!--统计指定学生Id获取了多少课程数-->
    <select id="countStudentCourses" resultType="java.lang.Integer">
        select count(*)
        from course_stu
        where student_id = #{studentId}
    </select>
    <!--查询学生是否选择了这门课-->
    <select id="studentIsChooseCourse" resultType="com.xhu.onlinecourse.entity.CourseStu">
        select *
        from course_stu
        where student_id = #{studentId}
          and course_id = #{courseId}
    </select>



</mapper>