<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhu.onlinecourse.mapper.HomeworkMapper">


    <select id="homeworkListByCourseId" resultType="com.xhu.onlinecourse.entity.CourseHomework">
        select * from course_homework
        where course_id=#{courseId}
    </select>
</mapper>