<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhu.onlinecourse.mapper.StudentMapper">
    <insert id="studentInsert" parameterType="Student">
        insert into student(student_name, student_password, student_gender, student_birthday, student_phonenum,
                            student_email, student_address)
        values (#{studentName}, #{studentPassword}, #{studentGender}, #{studentBirthday}, #{studentPhonenum},
                #{studentEmail}, #{studentAddress});
    </insert>
    <update id="studentUpdate" parameterType="Student">
        update student
        set student_name=#{studentName},
            student_password = #{studentPassword},
            student_gender = #{studentGender},
            student_birthday=#{studentBirthday},
            student_phonenum=#{studentPhonenum},
            student_email=#{studentEmail},
            student_address=#{studentAddress}
        where student_id = #{studentId}
    </update>
    <delete id="studentDelete" parameterType="Student">
        delete
        from student
        where student_id = #{studentId}
    </delete>

    <select id="studentList" resultType="Student">
        select *
        from student
        <where>
            <choose>
                <when test="columnName=='studentId'">
                    And student_id like '%${value}%'
                </when>
                <when test="columnName=='studentName'">
                    And student_name like '%${value}%'
                </when>
                <when test="columnName=='studentGender'">
                    And student_gender like '%${value}%'
                </when>
                <when test="columnName=='studentBirthday'">
                    And student_birthday like '%${value}%'
                </when>
                <when test="columnName=='studentPhonenum'">
                    And student_phonenum like '%${value}%'
                </when>
                <when test="columnName=='studentEmail'">
                    And student_email like '%${value}%'
                </when>
                <when test="columnName=='studentAddress'">
                    And student_address like '%${value}%'
                </when>
                <otherwise>
                    '1'='1'
                </otherwise>
            </choose>
        </where>

    </select>
    <select id="studentHomeWorkIsFinished" resultType="java.lang.Integer">
        select count(chs.student_id)
        from course_homework_submit chs
        where student_id = #{studentId}
    </select>
    <!--学生选修所有课程的作业-->
    <select id="studentChooseAllHomeworks" resultType="java.lang.Integer">
        select count(ch.course_id)
        from course_homework ch
                 join course_stu c on ch.course_id = c.course_id
                 join student s on s.student_id = c.student_id
        where s.student_id = #{studentId}
    </select>
    <!--学生提出的问题-->
    <select id="studentAskQuestions" resultType="java.lang.Integer">
        select count(cq.student_id)
        from course_questions cq,
             student s
        where cq.student_id = s.student_id
          and s.student_id = #{studentId}
          and cq.course_question_type = 0
    </select>
    <!--总的问题数-->
    <select id="allQuestions" resultType="java.lang.Integer">
        select count(course_id)
        from course_questions
    </select>
    <!--学生最近三周打卡情况-->
    <select id="studentAttendance" resultType="com.xhu.onlinecourse.entity.vo.StudentAttendanceVo">
        SELECT student_id,
               SUM(CASE
                       WHEN course_att_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 1 WEEK) AND CURDATE() THEN 1
                       ELSE 0 END) thirdWeek,
               SUM(CASE
                       WHEN course_att_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 2 WEEK) AND DATE_SUB(CURDATE(), INTERVAL 1 WEEK)
                           THEN 1
                       ELSE 0 END) secondWeek,
               SUM(CASE
                       WHEN course_att_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 3 WEEK) AND DATE_SUB(CURDATE(), INTERVAL 2 WEEK)
                           THEN 1
                       ELSE 0 END) firstWeek
        FROM course_attendance
        WHERE student_id = #{studentId}
        GROUP BY student_id
    </select>
    <!--根据学生id查询学生-->
    <select id="studentById" resultType="com.xhu.onlinecourse.entity.Student">
        select *
        from student
        where student_id = #{studentId}
    </select>
    <!--获取学号-->
    <select id="studentNumber" resultType="java.lang.Long">
        select student_id
        from student
        where student_name = #{studentName}
          and student_password = #{studentPassword}
          and student_phonenum = #{studentPhonenum}
    </select>

</mapper>