<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhu.onlinecourse.mapper.TeacherMapper">
    <insert id="addHomeWork" parameterType="courseHomework">
        insert into course_homework
        values (NULL,#{courseHomeworkName},#{courseId},#{courseHomeworkDate})
    </insert>

    <select id="teacherList" resultType="com.xhu.onlinecourse.entity.Teacher">
        select *
        from teacher
    </select>
    <select id="teacherListById" resultType="com.xhu.onlinecourse.entity.vo.CourseTeacherVo">
        select course_id, course_name, t.teacher_id, course_info, teacher_name
        from course
                 left join teacher t on course.teacher_id = t.teacher_id
        where t.teacher_id = #{teacherId}
    </select>
    <select id="studentListByTeacherCourseId" resultType="com.xhu.onlinecourse.entity.Student">
        SELECT student.student_id, student_name, student_gender, student_email
        FROM student,
             course_stu,
             course
        WHERE student.`student_id` = course_stu.`student_id`
          AND course.`course_id` = course_stu.`course_id`
          AND teacher_id = #{teacherId}
          AND course.course_id = #{courseId}
    </select>
    <select id="studentCourseListByTeacherId" resultType="com.xhu.onlinecourse.entity.vo.StudentCourseVo">
        select student.student_id,student_name,student_gender,student_email,course_name
        FROM student,
             course_stu,
             course
        WHERE student.`student_id` = course_stu.`student_id`
          AND course.`course_id` = course_stu.`course_id`
          AND teacher_id = #{teacherId}
    </select>
</mapper>