<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhu.onlinecourse.mapper.TeacherMapper">
    <!--教师布置作业，写入数据库-->
    <insert id="addHomeWork" parameterType="courseHomework">
        insert into course_homework
        values (NULL, #{courseHomeworkName}, #{courseId}, #{courseHomeworkDate})
    </insert>
    <!--添加教师-->
    <insert id="teacherInsert" parameterType="Teacher">
        insert into teacher(teacher_name, teacher_password, teacher_gender, teacher_birthday, teacher_phonenum,
                            teacher_email, teacher_address)
        values (#{teacherName}, #{teacherPassword}, #{teacherGender}, #{teacherBirthday}, #{teacherPhonenum},
                #{teacherEmail}, #{teacherAddress})
    </insert>
    <!--将上传的课程视频信息写入数据库-->
    <insert id="teacherAddRes">
        insert into course_res(res_video_name, res_file_name, course_id, res_blues, copyright)
        values (#{resVideoName}, #{resFileName}, #{courseId}, #{resBlues}, #{copyright})
    </insert>
    <!--教师增加一门课程-->
    <insert id="courseInsert">
        insert into course
        values (null, #{teacherId}, #{courseName}, #{courseInfo}, #{courseImage})
    </insert>
    <!--修改课程资源-->
    <update id="teacherResAlter">
        update course_res
        set res_video_name=#{resVideoName},
            res_blues=#{resBlues}
        where course_res_id = #{courseResId}
    </update>
    <!--修改教师信息-->
    <update id="teacherUpdate" parameterType="Teacher">
        update teacher
        set teacher_name=#{teacherName},
            teacher_password=#{teacherPassword},
            teacher_gender=#{teacherGender},
            teacher_birthday=#{teacherBirthday},
            teacher_phonenum=#{teacherPhonenum},
            teacher_email=#{teacherEmail},
            teacher_address=#{teacherAddress}
        where teacher_id=#{teacherId}
    </update>
    <!--教师修改课程信息-->
    <update id="courseUpdate">
        update course
        set course_name=#{courseName},
            course_info=#{courseInfo}
        <if test="courseImage!=null">
            ,course_image=#{courseImage}
        </if>
        where course_id=#{courseId}
    </update>
    <!--删除一条课程资源-->
    <delete id="teacherDeleteRes">
        delete
        from course_res
        where course_res_id = #{courseResId}
    </delete>
    <!--删除所有课程资源-->
    <delete id="teacherDeleteAllRes">
        delete
        from course_res
        where course_id = #{courseId}
    </delete>
    <!--删除教师-->
    <delete id="teacherDelete">
        delete
        from teacher
        where teacher_id = #{teacherId}
    </delete>
    <!--教师删除指定的学生-->
    <delete id="studentRemove">
        delete
        from course_stu
        where student_id = #{studentId}
          and course_id = #{courseId}
    </delete>
    <!--教师删除课程-->
    <delete id="courseDelete">
        delete
        from course
        where course_id = #{courseId}
    </delete>
    <!--模糊查询教师信息-->
    <select id="teacherList" resultType="com.xhu.onlinecourse.entity.Teacher">
        select *
        from teacher
        <where>
            <choose>
                <when test="columnName=='teacherId'">
                    And teacher_id like '%${value}%'
                </when>
                <when test="columnName=='teacherName'">
                    And teacher_name like '%${value}%'
                </when>
                <when test="columnName=='teacherGender'">
                    And teacher_gender like '%${value}%'
                </when>
                <when test="columnName=='teacherBirthday'">
                    And teacher_birthday like '%${value}%'
                </when>
                <when test="columnName=='teacherPhonenum'">
                    And teacher_phonenum like '%${value}%'
                </when>
                <when test="columnName=='teacherEmail'">
                    And teacher_email like '%${value}%'
                </when>
                <when test="columnName=='teacherAddress'">
                    And teacher_address like '%${value}%'
                </when>
                <otherwise>
                    '1'='1'
                </otherwise>
            </choose>
        </where>
    </select>
    <!--查询教师教授的所有课程-->
    <select id="teacherListById" resultType="com.xhu.onlinecourse.entity.vo.CourseTeacherVo">
        select course_id, course_name, t.teacher_id, course_info, teacher_name, course_image
        from course
                 left join teacher t on course.teacher_id = t.teacher_id
        where t.teacher_id = #{teacherId}
    </select>
    <!--查询教师教授的学生信息-->
    <select id="studentListByTeacherCourseId" resultType="com.xhu.onlinecourse.entity.Student">
        SELECT student.student_id, student_name, student_gender, student_email
        FROM student,
             course_stu,
             course
        WHERE student.`student_id` = course_stu.`student_id`
          AND course.`course_id` = course_stu.`course_id`
          AND teacher_id = #{teacherId}
          AND course.course_id = #{courseId}
    </select>
    <!--查询教师所有开课所有学生选择的信息-->
    <select id="studentCourseListByTeacherId" resultType="com.xhu.onlinecourse.entity.vo.StudentCourseVo">
        select student.student_id, student_name, student_gender, student_email, course_name
        FROM student,
             course_stu,
             course
        WHERE student.`student_id` = course_stu.`student_id`
          AND course.`course_id` = course_stu.`course_id`
          AND teacher_id = #{teacherId}
    </select>
    <!--查询教师教授的课程一共有多少学生选-->
    <select id="teacherCourseStudentSelectNum" resultType="java.lang.Integer">
        SELECT COUNT(cs.`course_id`) res
        FROM course_stu cs
                 JOIN course c ON cs.`course_id` = c.`course_id`
                 JOIN teacher t ON c.`teacher_id` = t.`teacher_id`
        WHERE t.`teacher_id` = #{teacherId};
    </select>
    <!--查询一条教师的信息-->
    <select id="teacherOne" resultType="com.xhu.onlinecourse.entity.Teacher">
        select *
        from teacher
        where teacher_id = #{teacherId}
    </select>
    <!--查询教师教授的课程以及选课人数-->
    <select id="teacherTeachStudentCourseCount" resultType="java.util.Map">
        SELECT c.course_name         name,
               COUNT(cs.`course_id`) res
        FROM course c
                 JOIN teacher t
                      ON c.`teacher_id` = t.`teacher_id`
                 LEFT JOIN course_stu cs
                           ON cs.`course_id` = c.`course_id`
        WHERE t.`teacher_id` = #{teacherId}
        GROUP BY c.course_name
    </select>
    <!--查询教师上传的文件列表-->
    <select id="teacherResById" resultType="com.xhu.onlinecourse.entity.CourseRes">
        SELECT *
        from course_res
        where course_id = #{courseId}
        order by res_blues
    </select>
    <!--删除教师-->

    <!--查询课程id-->
    <select id="getCourseId" resultType="java.lang.Long">
        select course_id
        from course
        where teacher_id = #{teacherId}
          and course_name = #{courseName}
          and course_info = #{courseInfo}
    </select>
    <!--通过课程id返回课程的课程信息-->
    <select id="getCourseInfoById" resultType="com.xhu.onlinecourse.entity.Course">
        select *
        from course
        where course_id = #{courseId}
    </select>
    <!--查询教师id-->
    <select id="teacherNumber" resultType="java.lang.Long">
        select teacher_id
        from teacher
        where teacher_name = #{teacherName}
          and teacher_email = #{teacherEmail}
          and teacher_phonenum = #{teacherPhonenum}
    </select>
</mapper>